* {
  padding: 0;
  margin: 0;
}
.nav {
  height: 40px;
  background-color: white;
    display: flex;
  justify-content: center;
  font-family: 'Josefin Sans', sans-serif;
  border-bottom: 1px solid black;
  z-index: 1000;
}

.nav h1 {
  display: flex;
  align-items: center;
  display: inline;
/*   outline: 1px solid blue; */
  line-height: 1;
  text-align: buttom;
  padding-top: 5px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.converse_logo {
  width: 35px;
}

#menu {
  position: fixed;
  left: 10px;
}

#shop {
  position: fixed;
  right: 10px;  
}

.article_1 {
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.article_1 .zapatilla_container_container {
/*   background: red; */
  width: 90vw;
  height: 70vh;
  top: 50px;
}

.zapatilla {
  width: 400px;
  position: absolute;
  
}

.zapatilla_container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.texto_zapatilla {
  display: flex;
  width: fit-content;
  height: fit-content;
/*   outline: 1px solid blue; */
 z-index: 100;
  margin-top: 350px;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: center;
  font-family: 'Josefin Sans', sans-serif;
}

button {
  position: absolute;
  width: 150px;
  height: 50px;
  margin-top: 50px
}

